<html>
<body>
	<h3>Heart Disease Prediction Form</h3>

<div class="container">
<form action="/result" method="POST">
	<label for="age">Age</label>
	<input type="text" id="age" name="age">
	<br>
	<br>
	<label for="sex">sex</label>
	<input type="text" id="sex" name="sex">
	<br>
	<br>
	<label for="cp">Chest pain</label>
	<input type="text" id="cp" name="cp">
	<br>
	<br>
	<label for="trestbps">trestbps</label>
	<input type="text" id="trestbps" name="trestbps">
	<br>
	<br>
	<label for="chol">chol</label>
	<input type="text" id="chol" name="chol">
	<br>
	<br>
	<label for="fbs">fbs</label>
	<input type="text" id="fbs" name="fbs">
	<br>
	<br>
	<label for="restecg">restecg</label>
    <input type="text" id="restecg" name="restecg">
	<br>
	<br>
	<label for="thalach">thalach</label>
    <input type="text" id="thalach" name="thalach">
	<br>
	
	<br>
	<label for="exang">exang</label>
	<input type="text" id="exang" name="exang">
	<br>
	<br>
	<label for="oldpeak">oldpeak </label>
    <input type="text" id="oldpeak" name="oldpeak">
	
	<br>
	<br>
	<label for="slope">slope </label>
    <input type="text" id="slope" name="slope">
	<br>
	<br>
	<label for="ca">ca</label>
    <input type="text" id="ca" name="ca">
	<br>
	<br>
    <label for="thal">thal</label>
    <input type="text" id="thal" name="thal">
	<br>
	<br>

	<input type="submit" value="Submit">
</form>
</div>
</body>
</html>
